<div class="flex flex-col w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="mx-auto mt-5 font-bold text-4xl">Welcome to the Ruby Auth Metamask Example site!</h1>
  <div class="mt-10 lg:text-xl">
    This site uses gem "<a class="text-blue-600" href="https://github.com/yzhanginwa/ruby_auth_metamask">ruby_auth_metamask</a>" to authenticate users with browser extension "metamask". 
    
    After being successfully authenticated, users can create new posts.

  </div>
</div>
